.form {
  padding: 5px;
  display: flex;
  border-radius: 15px;
}
.divform {
  margin: 0 auto;
}
.divButton{
  display: flex;
  .button-ok{
    width: 50px;
    background-color: #0088cc;
    border-radius: 5px;
    margin: 0 auto;
      margin-top: 20px;
  }
}
.modal{
    margin: 0 auto;
    max-width: 400px;
    border: solid;
    border-radius: 5px;
    border-color: gray;
}
.title{
  max-width: fit-content;
  padding: 10px;
}

.form-field {
  width: 100%;
  margin-bottom: 20px;
}

button {
  width: 100%;
}
