.form {
  padding: 5px;
  display: flex;
  border-radius: 15px;
}
.divform {
  margin: 0 auto;
  .label {
width: 100%;
  }
}
.divButton {
  float: right;
  margin: 5px auto;
  .button-ok {
    width: 50px;
    background-color: #0088cc;
    border-radius: 5px;
    margin: 5px;
  }
}
.modal {
  margin: 0 auto;
  max-width: 400px;
  border: solid;
  border-radius: 5px;
  border-color: gray;
  background-color: #AED6F1;

}
.title {
  padding: 5px;
  border-bottom: 1px solid gray;
  margin-left: 5px;
  margin-right: 5px;
}

.form-field {
  width: 100%;
  margin-bottom: 20px;
}

button {
  width: 100%;
}
